@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --size: 16px;
  --margin: 16px;
  --padding: 16px;
  --ratio: 1.62;
  --max: 1980px;
  --min: 320px;
  --blue: #0e4ed5;
  --blue-dark: #0e1896;
  --blue-light: #91d4f9;
  --beige: #eeece2;
  --topbar-heigth: 40px;
}
